# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
venv/
env/
*.sqlite3

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Backend outputs
output/
*.pdf

# Node.js / Frontend
node_modules/
dist/
build/
*.log

# Tailwind/Jest/React
coverage/
.cache/
.next/
out/
